@font-face {
    font-family: raleway_a;
    src: url(../fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}
@font-face {
    font-family: raleway_a;
    src: url(../fonts/raleway-v22-cyrillic-900.woff2);
    font-weight: 900;
}

